* {
	margin: 0px;
}

body {
	height: 100%;
	font-family: 'Open Sans', open-sans, Arial, 'Helvetica Neue', sans-serif;
	font-size: 13px;
}

.clearfix {
	overflow: auto;
}

.clear-left {
	clear: left;
}

.margin-left {
	margin-left: 40px;
}

.header-container {
	margin: 0 auto;
	margin-top: 20px;
	width: 980px;
	height: 50px;
}

.header-left {
	float: left;
}

.header-right {
	float: right;
}

.background {
	width: 980px;
	margin: 0 auto;
	background-image: url("../img/normal.jpg");
	background-repeat: no-repeat;
}

.search-container {
	width: 70%;
	margin: 0 auto;
	padding-top: 165px;
	padding-bottom: 165px;
}

.search-container .header-text {
	font-size: 50px;
	text-align: center;
	color: #fff;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgba(128, 128, 128, 0.5);
}

.search-container .header-text sub {
	font-size: 9px;
	vertical-align: super;
}

.search-container .type-search-container {
	text-align: center;
	margin-top: 15px;
	margin-left: -25px;
}

.search-container .type-search-container li {
	display: inline-block;
	margin-right: -4px;
	width: 150px;
	height: 30px;
	padding-top: 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
	font-size: 18px;
	font-weight: 400;
	background: rgba(128, 128, 128, 0.5);
	color: #fff;
}

.search-container .type-search-container li:last-child {
	border-right: 1px solid #fff;
}

.search-container .search-box-container {
	margin-top: 20px;
	text-align: center;
}

.search-container .search-box-container div {
	display: inline-block;
}

.search-container .search-box-container div .eg-make {
	margin-left: -55px;
	color: #fff;
	-webkit-text-stroke-width: 0.2px;
	-webkit-text-stroke-color: rgba(128, 128, 128, 0.5);
}

.search-container .search-box-container div .eg-model {
	margin-left: -175px;
	color: #fff;
	-webkit-text-stroke-width: 0.2px;
	-webkit-text-stroke-color: rgba(128, 128, 128, 0.5);
}

.search-container .search-box-container select {
	width: 120px;
}

.model-box {
	
}

.model-box select {
	width: 250px !important;
}

.search-container .button-container {
	width: 800px;
	margin: 0 auto;
}

.search-container .button-container .go-button {
	margin-top: -39px;
	margin-left: 610px;
}

.search-container .button-container button {
	font-size: 14px;
	font-weight: 400;
	width: 80px;
	height: 30px;
	border-radius: 5px;
	border-style: none;
	background: none repeat scroll 0 0 #0072BC;
	color: #fff;
	cursor: pointer;
}

.search-result-container {
	width: 980px;
	margin: 0 auto;
	margin-top: 10px;
}

.result-header {
	text-align: center;
}

.recommendation-container {
	width: 980px;
	margin: 0 auto;
	margin-top: 10px;
}

.search-result-img {
	float: left;
	margin-top: 10px;
}

.search-result-img img {
	width: 200px;
	height: 150px;
}

.word-wrap {
	word-wrap: break-word;
	width: 250px;
}

.search-result-text {
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}